@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --base-color: rgb(126, 126, 126);
    --base-border-color: rgb(88, 88, 88);
    --active-color: rgb(17, 196, 32);
    --active-border-color: rgb(10, 110, 19);
}

* {
    box-sizing: border-box;
}

.body {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 3.5rem;
}

.steps {
    text-align: center;
    margin: 0;
}

.steps__circles-container {
    position: relative;
    width: 350px;
    max-width: 100%;
}

.steps__line {
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--active-color);
    top: calc(50% - 2px);
    left: 0;
    transition: .4s ease;
}

.steps__circles {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.steps__circles::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: 4px;
    background-color: var(--base-border-color);
    top: calc(50% - 2px);
    left: 0;
    z-index: -1;
}

.steps__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--base-color);
    border-radius: 50%;
    border: 3px solid var(--base-border-color);
    transition: .4s ease ;
}

.steps__circle.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--active-color);
    border-radius: 50%;
    border: 3px solid var(--active-border-color);
}

.steps__button {
    margin: 20px;
}

.steps__button {
    padding: 10px 20px;
    background-color: var(--active-color);
    border-radius: 5px;
    border: 1px solid var(--active-border-color);
    margin: 50px 30px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.steps__button:active {
    transform: scale(.97);
}

.steps__button:focus {
    outline: none;
}

.steps__button:disabled {
    border-color: var(--base-border-color);
    background-color: var(--base-color);
    cursor: not-allowed;
}

.steps__button:disabled:active {
    transform: scale(1);
}